<div id="pages" [ngStyle]="getPageStyles()">
  <ag-grid-angular
    *ngIf="tests['1']"
    id="userTable"
    class="ag-theme-alpine"
    [rowData]="userData"
    [columnDefs]="userColumnDefs"
    [defaultColDef]="defaultColDef"
    style="width: 100%; height: 200px;">
  </ag-grid-angular>
  
  <ag-grid-angular
    *ngIf="tests['2']"
    id="companyTable"
    class="ag-theme-alpine"
    [rowData]="companyData"
    [columnDefs]="companyColumnDefs"
    [defaultColDef]="defaultColDef"
    style="width: 100%; height: 200px;">
  </ag-grid-angular>
</div>

<button *ngIf="isLeftArrowVisible" (click)="expandHeaders('left')" class="left-arrow">
  <i class="fas fa-arrow-right"></i>
</button>

<button *ngIf="isRightArrowVisible" (click)="expandHeaders('right')" class="right-arrow">
  <i class="fas fa-arrow-left"></i>
</button>
